#main {
   /*position:relative;*/
   /*min-width: 500px;
   max-width: 1350px;*/
   /*width: 1350px;*/
   overflow: hidden;
   width:90%;
   background-color:#FFFFFF;
   margin-top: 50px;
   margin-bottom: 50px;
   margin-left: auto;
   margin-right: auto;
   padding: 0px;
   border: thin solid #000000;
   /*overflow: hidden;*/
   /* border-style: solid; */
}

#header {
   padding: 15px;
   margin: 0px;
   text-align: center;
   border-style: solid;
   border-width: 1px; 
}

#headerUpperRight {
   float: right;
   font-size: 14px;
}

#headerMain {
   clear: both;
}


#leftNav ul {
   text-align: left;
   width: 15%;
   padding: 10px;
   margin-top: 1px;
   float: left;
   list-style-type: none;
   border-right-style: groove;
   border-right-width: 2px;
   border: thin solid #000000;
   font-size: 14px;
}

#contentContainer {
   overflow: hidden;
   border: thin solid #000000;
}

#contentContainer {
   overflow: hidden;
   border: thin solid #000000;
}

#content {
   /*margin-right: 30%;*/
   /*max-width: 1000px;
   min-width: 300px;*/
   min-height: 300px;
   text-align: left;
   /*width: 1000px;*/
   width: 100%;
   float: left;
   margin-top: 1px;
   padding: 10px;
   border: thin solid #000000;
}

#content .error, .success {
   font-size: 16px;
}

#footer {
   padding: 15px;
   margin: 0px;
   margin-top: 1px;
   border-top: thin solid #000000;
   text-align: center;
   clear:both;
}

table.padded td {
   padding-bottom: 12px;
   padding-top: 12px;
   vertical-align: center;
}

table.studentInfo tr td {
   background: white;
   vertical-align: top; 
   /*border: thin solid #000000;*/
}


span.fields {
   padding: 20px;
}

.errors {
   color: red;
}


/* Student Record Search stuff */
#searchform-table {
   width: 20%;
   font-size: 14px;
}

#searchform-table tr td {
   background:white;
}

#searchresults-table {
   font-size: 14px;
}