#main {
   /*position:relative;*/
   /*min-width: 500px;
   max-width: 1350px;*/
   /*width: 1350px;*/
   overflow: hidden;
   width:90%;
   background-color:#FFFFFF;
   margin-top: 50px;
   margin-bottom: 50px;
   margin-left: auto;
   margin-right: auto;
   padding: 0px;
   border: thin solid #000000;
   /*overflow: hidden;*/
}

#header {
   padding: 15px;
   margin: 0px;
   text-align: center;
   /*border-style: solid;
   border-width: 1px; */
}

#headerUpperRight {
   float: right;
   font-size: 14px;
}

#headerMain {
   clear: both;
}

/* Class Tabs */
#classTabs {
   text-align:left;
   /*border: thin solid #000000;*/
   /* max-width:100%;
   margin: 0px auto;*/
}
.classTab {
   /*display:block;float:left;padding:10px 15px;background:#aaa;border:1px solid #777;border-bottom:none;border-radius:4px 4px 0 0;margin-right:1px;color:#fff;text-decoration:none*/

   font-size:16px; display:block; float:left; padding:10px 15px; background:#aaa; border:1px solid #777;
   border-bottom:none; border-radius:4px 4px 0 0; margin-right:1px; color:#fff; text-decoration:none; 
}

.classTab:hover, .classTab:visited {
   color:#fff;
}
/* End Class Tabs */

#clearClassTabs {
   clear:both;
}


#leftNav ul {
   text-align: left;
   width: 15%;
   padding: 10px;
   margin-top: 1px;
   float: left;
   list-style-type: none;
   border-right-style: groove;
   border-right-width: 2px;
   /*border: thin solid #000000;*/
   font-size: 14px;
}

#contentContainer {
   overflow: hidden;
   /*border: thin solid #000000;*/
}

#content {
   /*margin-right: 30%;*/
   /*max-width: 1000px;
   min-width: 300px;*/
   min-height: 300px;
   text-align: left;
   /*width: 1000px;*/
   width: 100%;
   float: left;
   margin-top: 1px;
   padding: 10px;
   /*border: thin solid #000000;*/
}

#content .error, .success {
   font-size: 16px;
}

div.subform fieldset {
   border: none;
}

/* Table that holds Student Information Sheet form */
table.tableform tr td {
   background: white;
   vertical-align: top; 
   /*border: thin solid #000000;*/
}

/* List of all coop classes */
table.classList, table.submittedAssignments {
   font-size: 16px;
   width: 50%;
}

table.assignmentList {
   font-size: 16px;
   width: 50%;
}

table#coordList {
   width:60%;
}

form.editQuestions textarea, form.midtermReport textarea {
   height: 100px;
   width: 550px;
}

table#coopAgreement td {
}

table#studentInfoSheet, table#coopAgreement td {
   vertical-align: top;
}

.editSyllabus {
   max-width: 20%;
}
   
/* End List of all coop classes */

span.fields {
   padding: 20px;
}

.errors {
   color: red;
}


/* Student Record Search stuff */
#searchform-table {
   width: 20%;
   font-size: 14px;
}

#searchform-table tr td {
   background:white;
}

#searchresults-table {
   /*font-size: 14px;*/
}
/* End Student Record Search stuff */

textarea.textbox {
   width: 300px;
   height: 10px;
}

#sub {
   color: green;
}


/* PAGER */
.simplePagerContainer ul.paging, ul.simplePagerNav {
   list-style-type: none;
}

ul.simplePagerNav li {
    display: block;
    float: left;
    font-family: georgia;
    margin-bottom: 10px;
    padding: 3px;
}
ul.simplePagerNav li a {
    color: #333333;
    text-decoration: none;
    font-size: 20px;
}
li.currentPage {
    background: none repeat scroll 0 0 #83BD63;
}
ul.simplePagerNav li.currentPage a {
    color: #FFFFFF;
}
/* End Pager */

a {
   text-decoration: none;
}

.regText {
   font-size: 14px;
}

/* make disabled links grey and prevent highlighting when hovering */
a.disabled, a.disabled:hover {
   color:#777;
   outline: 0;
}



#footer {
   padding: 15px;
   margin: 0px;
   margin-top: 1px;
   border-top: thin solid #000000;
   text-align: center;
   clear:both;
}

table.padded td {
   padding-bottom: 12px;
   padding-top: 12px;
   vertical-align: center;
}
